{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    

<style>

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello Salut {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Artshop/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/Artshop/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        <li>

        {% for products in products %}

            <h2>{{ products.prodName }}</h2>
           
            <p>
                {{ products.description | raw }}
                Added at {{ products.addAt | date('m/d/Y') }} at {{ products.addAt | date('H:i') }}
                <img src = "{{ products.image }}" alt="">
            <a href="{{ path('home_show', { 'id': products.id }) }}" class="btn btn-primary">Lire la suite</a>
            </p>

        
        {% endfor %}

</li>
    </ul>
    
</div>



{% endblock %}
